<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="device-edit">
    <h2>Details</h2>
    <p>
        Name: <span th:text="${device.name}">Name</span>
    </p>
    <table>
        <tr>
            <th>Token</th>
            <th>Created At</th>
            <th>Valid Until</th>
        </tr>
        <tr th:each="token : ${device.tokens}">
            <td th:text="${token.token}">Token</td>
            <td th:text="${token.createdAt}">Created At</td>
            <td th:text="${token.validUntil}">Valid Until</td>
            <td>
                <button th:attr="hx-delete=@{/devices/{deviceId}/tokens/{tokenId}(deviceId=${device.id}, tokenId=${token.token})}"
                        hx-confirm="Are you sure you want to delete this token?"
                        hx-target="#content">Delete</button>
            </td>
    </table>
    <button th:attr="hx-post=@{/devices/{id}/tokens(id=${device.id})}" hx-target="#content">Add Token</button>
</div>
</body>
</html>