<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
    <th:block th:include="~{header :: header}"/>
</head>
<body>
<div class="dashboard">
    <div id="ppm" class="item"></div>
    <div id="voc" class="item"></div>
    <div id="temperature" class="item"></div>
    <div id="humidity" class="item"></div>
</div>
<div id="chart" class="chart"></div>
</body>
<script th:inline="javascript">
    var chartData = {temperature: [], humidity: [], ppm: [], voc: []}
    chartData.temperature = [[${temperature}]]
    chartData.humidity = [[${humidity}]]
    chartData.ppm = [[${ppm}]]
    chartData.voc = [[${voc}]]
</script>

<script type="application/javascript">
    function openWebSocket(onmessage) {
        let wsUri = ((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host + window.location.pathname + '/realtime';
        webSocket = new WebSocket(wsUri);
        webSocket.onmessage = onmessage;
    }

    function start() {
        openWebSocket(function(e) {
            var message = JSON.parse(e.data)
            console.log(message)

            if (message.temperature) {
                let newTemperaturePoint = [message.receivedAt, message.temperature]
                chartData.temperature.push(newTemperaturePoint)
                document.getElementById("temperature").innerText = `${message.temperature.toFixed(2)} C`
            }

            if (message.humidity) {
                let newHumidityPoint = [message.receivedAt, message.humidity]
                chartData.humidity.push(newHumidityPoint)
                document.getElementById("humidity").innerText = `${message.humidity.toFixed(2)} %`
            }

            if (message.ppm) {
                let newPpmPoint = [message.receivedAt, message.ppm]
                chartData.ppm.push(newPpmPoint)
                document.getElementById("ppm").innerText = `${Math.round(message.ppm)} ppm`
            }

            if (message.voc) {
                let newVocPoint = [message.receivedAt, message.voc]
                chartData.voc.push(newVocPoint)
                document.getElementById("voc").innerText = message.voc
            }

            renderChart();
        });
    }

    var renderTaskId;

    function renderChart() {
        if (renderTaskId) {
            clearTimeout(renderTaskId);
        }
        renderTaskId = setTimeout(function () {
            chart.setOption({
                series: [
                    {
                        data: chartData.temperature
                    },
                    {
                        data: chartData.humidity
                    },
                    {
                        data: chartData.ppm
                    },
                    {
                        data: chartData.voc
                    }
                ]
            });
        }, 1);
    }

    var chart;

    var option = {
        animation: false,
        color: ['green', 'lightblue', 'red', 'orange'],
        legend: {
            data: ['Temperature', 'Humidity', 'Ppm', 'Voc']
          },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross'
           }
        },
        xAxis: {
            type: 'time'
        },
        yAxis: [
            {
                type: 'value',
                scale: true,
                position: 'left'
            },
            {
                type: 'value',
                scale: true,
                position: 'left',
                offset: 30,
            },
            {
                type: 'value',
                name: 'Ppm',
                scale: true,
                position: 'right'
            },
            {
                type: 'value',
                name: 'Voc',
                scale: true,
                position: 'left',
                offset: 60,
            }
        ],
        dataZoom: [
            {
                type: 'slider'
            },
            {
                type: 'inside'
            }
        ],
        title: [
            {
                text: 'Sensor data'
            }
        ],
        series: [
            {
                name: 'Temperature',
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: chartData.temperature,
                yAxisIndex: 0
            },
            {
                name: 'Humidity',
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: chartData.humidity,
                yAxisIndex: 1
            },
            {
                name: 'Ppm',
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: chartData.ppm,
                yAxisIndex: 2
            },
            {
                name: 'Voc',
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: chartData.voc,
                yAxisIndex: 3
            }
        ]
    };

    window.addEventListener("load", function() {
        chart = echarts.init(document.getElementById('chart'));
        chart.setOption(option);
        window.onresize = function() {
            chart.resize();
        }
    });

    window.addEventListener("load", function() {
        renderChart();

        start();

        chart.on('datazoom', function(event) {
        if (event.batch)
        {
            event = event.batch[0]
        }

        var start = parseInt(chart.getOption().dataZoom[0].startValue)
        var end = parseInt(chart.getOption().dataZoom[0].endValue)

        scheduleFetchUpdates(start, end)
    })
    });

    var fetchUpdateTaskId;
    function scheduleFetchUpdates(start, end) {
        if (fetchUpdateTaskId) {
            clearTimeout(fetchUpdateTaskId);
        }
        fetchUpdateTaskId = setTimeout(function () {
            fetchUpdates(start, end)
        }, 100);
    }

    function fetchUpdates(start, end) {
        fetch(`${window.location.pathname}/partial?start=${start}&end=${end}`)
        .then(function (response) {
            response.json().then(function(data) {
                mergeUpdates(data)
                console.log(data)
            })
        });
    }

    function mergeUpdates(updateData) {
        var properties = ['temperature', 'humidity', 'ppm', 'voc']

        for (var property of properties) {
            var tmp = new Map()
            chartData[property].forEach(e => tmp.set(e[0], e[1]))
            updateData[property].forEach(e => tmp.set(e[0], e[1]))
            chartData[property] = []
            for(var timestamp of [...tmp.keys()].sort()) {chartData[property].push([timestamp, tmp.get(timestamp)])}
        }

        renderChart();
    }
</script>
</html>